{{define "main"}}
<dl>
<dt style="visibility:hidden">info:</dt>
    <dd>{{ .Date.Format "2006-01-02" }}</dd>
    {{ if .Params.pageCount }}
    <dd>{{ .Params.pageCount }}</dd>
    {{ end }}

    {{if .Params.publisher }}
    <dd>{{ .Params.publisher }}</dd>
    {{ end }}

    {{ if .Description }}
    <dd>{{ .Description }}</dd>
    {{ end }}

    {{ if .Params.extLink }}
    <dd>→ <a href="{{ .Params.extLink }}">{{ .Params.extLinkTitle }}</a></dd>
    {{ end }}

    {{ if .Params.extLink2 }}
    <dd>→ <a href="{{ .Params.extLink2 }}">{{ .Params.extLinkTitle2 }}</a></dd>
    {{ end }}
</dl>

<div class="comic-container">
    {{ .Content | markdownify }}
</div>
<nav class="comic-nav">
{{ range first 1 .CurrentSection.Pages }}<a href="{{ .RelPermalink }}">read&#8594;</a>{{ end }}

<img src="/images/line1.png" class="pixel" width="269" height="65" style="display:block;" alt="line">

{{ $pages := .CurrentSection.Pages.ByWeight.Reverse }}

<p><small>all pages:</small></p>
{{ range .CurrentSection.Pages }}<a href="{{.RelPermalink}}">{{.Title}}</a> {{end}}
</nav>

{{end}}
