{{define "main"}}
<p>{{ .Date.Format "2006-01-02" }}</p>
{{ if .Params.pageCount }}
<p>{{ .Params.pageCount }}</p>
{{ end }}

{{if .Params.publisher }}
<p>{{ .Params.publisher }}</p>
{{ end }}

{{ if .Description }}
<p>{{ .Description }}</p>
{{ end }}

{{ if .Params.extLink }}
<p>→ <a href="{{ .Params.extLink }}">{{ .Params.extLinkTitle }}</a></p>
{{ end }}

{{ if .Params.extLink2 }}
<p>→ <a href="{{ .Params.extLink2 }}">{{ .Params.extLinkTitle2 }}</a></p>
{{ end }}
<main>
<div class="comic-container">
    {{ .Content | markdownify }}
</div>
</main>
        {{ end }}
