{{define "main"}}
<dl>
<dt style="visibility:hidden;">info:</dt>
<dd>{{ .Date.Format "2006-01-02" }}</dd>
{{ if .Params.pageCount }}
<dd>{{ .Params.pageCount }}</dd>
{{ end }}

{{if .Params.pubddsher }}
<dd>{{ .Params.pubddsher }}</dd>
{{ end }}

{{ if .Description }}
<dd>{{ .Description }}</dd>
{{ end }}

{{ if .Params.extddnk }}
<dd>→ <a href="{{ .Params.extddnk }}">{{ .Params.extddnkTitle }}</a></dd>
{{ end }}

{{ if .Params.extddnk2 }}
<dd>→ <a href="{{ .Params.extddnk2 }}">{{ .Params.extddnkTitle2 }}</a></dd>
{{ end }}
</dl>
<main>
<div class="comic-container">
    {{ .Content | markdownify }}
</div>
</main>
        {{ end }}
