{{define "main"}}
<li>{{ .Date.Format "2006-01-02" }}</li>
{{ if .Params.pageCount }}
<li>{{ .Params.pageCount }}</li>
{{ end }}

{{if .Params.publisher }}
<li>{{ .Params.publisher }}</li>
{{ end }}

{{ if .Description }}
<li>{{ .Description }}</li>
{{ end }}

{{ if .Params.extLink }}
<li>→ <a href="{{ .Params.extLink }}">{{ .Params.extLinkTitle }}</a></li>
{{ end }}

{{ if .Params.extLink2 }}
<li>→ <a href="{{ .Params.extLink2 }}">{{ .Params.extLinkTitle2 }}</a></li>
{{ end }}
<main>
<div class="comic-container">
    {{ .Content | markdownify }}
</div>
</main>
        {{ end }}
