<!doctype html>
<html lang="en">
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <picture>
    <source srcset="/images/double2-crop-orange-red.png" class="main" media="(prefers-color-scheme:dark)" width="610" height="481" alt="Henny and Bora">
    <img src="/images/double2-crop.png" class="main" width="610" height="481" alt="Henny and Bora">
    </picture>
  <address>Margot Ferrick <a href="mailto:m&commat;margot&period;maison">m&commat;margot&period;maison</a></address>
  <p><strong><i>Some content is explicit and labeled as <span style="font-size: smaller; font-weight: bold; color: #9f1239; background-color: inherit;border: #9f1239 solid 1px; padding: 0.1em">R-18</span> .</i></strong></p>


               <details>
              <summary>Updated {{ range (where .Site.Pages "Section" "up_log") }}{{ range first 1 .Data.Pages }} <a href="{{.RelPermalink}}">{{.Title}}</a>.{{ end }}{{ end }}
              </summary>
             {{ range (where .Site.Pages "Section"
                "up_log") }}{{ range first 1 .Data.Pages }}{{ .Summary }}<p><a href="{{.RelPermalink}}">full post</a> / <a href="/up_log">all updates</a></p>{{end}}{{ end }}


</details>
            <main>
        <h1 style="display:none;">margot.maison</h1>
              <div id="columns">
                <section id="info">
                  <h2>info</h2>
                  <ul>
                  {{ range where .Pages "Type" "page" }}
                  {{ range .Pages.ByWeight }}
                    <li><a href="{{.RelPermalink}}">{{.Title}}</a></li>
                    {{ end }}
                    {{ end }}
                    <li><a href="/up_log/index.xml">rss</a></li>
                    </ul>
                </section>
                <section id="working">
              <h2>working...</h2>
                <ul>
                    <li>
                        <a href="https://slit.margot.maison">slit of mind</a> (blog)
                    </li>
                    <li>
                        <a href="https://slit.margot.maison/tags/borathebrain/">Bora the Brain WIP</a>: longer
                        comic
                        currently in progress, hoping to finish sometime in 2027.
                    </li>
                </ul>
            <img src="/images/nymph1.png" class="pixel" width="234" height="173" alt="nymph">
                </section>
                <section id="comics">
            <h2>comics</h2>
                <ul>
                    {{ range where .Pages "Type" "comics" }}
                    {{ range .Pages.ByLastmod.Reverse }}
                    <li>{{.Date.Format "2006-01-02"}}
                        ...
                        <a href="{{.RelPermalink}}">{{.Title}}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                    <li>2012-09-01 ... <a href="https://nycartoonlibrary.org/margotspider.html">Spider's Visit</a> (at nycartoonlibrary.org)</li>
                </ul>
                <h3>very short oneshots</h3>
                <ul>
                    {{ range where .Pages "Type" "oneshots" }}
                    {{ range .Pages.ByLastmod.Reverse }}
                    <li>{{.Date.Format "2006-01-02"}}
                        ...
                        <a href="{{.RelPermalink}}">{{.Title}}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
               <img src="/images/line2.png" class="pixel" width="175" height="45" alt="line 2">
                </section>
<section>
            <h2>drawings/paintings</h2>
                <ul>
                    {{ range where .Pages "Type" "art"}}
                    {{ range .Pages.ByLastmod.Reverse }}
                    <li>{{ .Lastmod.Format "2006-01-02" }}
                      ...
                      <a href="{{.RelPermalink}}">{{.Title}}</a>
                        {{- if
                        .Params.tags }}
                        <span
                            style="font-size: smaller; font-weight: bold; color: #9f1239; background-color: inherit;border: #9f1239 solid 1px; padding: 0.1em">
                            {{ range .Params.tags }}
                            {{ . }}</span>
                        {{ end }}
                        {{ end }}
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
               <img src="/images/line3.png" class="pixel" width="156" height="60" alt="line 3">
            <h2>illustration</h2>
                <ul>
                    {{ range where .Pages "Type" "illus" }}
                    {{ range .Pages.ByLastmod.Reverse }}
                    <li>{{.Date.Format "2006-01-02"}}
                        ...
                        <a href="{{.RelPermalink}}">{{.Title}}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul>
</section>
<section>
            <h2>elsewhere</h2>
                <ul>
                    <li>
                        <a href="https://www.pixiv.net/en/users/83480423">pixiv</a>
                    </li>
                    <li>
                        <a href="https://margotmaison.bigcartel.com/">shop</a> (on haitus as of 2025-09-13)
                    </li>
                    <li>
                        <a href="https://www.patreon.com/margotmaison">patreon</a>
                    </li>
                    <li>
                        <a href="https://petselbee.uk">petselbee</a>
                    </li>
                </ul>
                <h3>Fromsoft fanart</h3>
                <ul>
                    <li>
                        <a href="https://fuu.margot.maison">fuu</a>: I really love games made by
                        the developer Fromsoft, especially Dark Souls and Elden Ring. I keep my fanart over here...
                    </li>
                    <li>
                        <a href="https://www.breakdownpress.com/store/half-gold-half-dung-by-margot-ferrick">Half
                            Gold / Half Dung</a>: Small book of drawings made between 2020-2024.
                        Published by Breakdown Press.
                    </li>
                </ul>
                <img src="/images/ray3.png" class="pixel" width="293" height="247" alt="ray 3">
                </section>
            </div>
</main>
{{- partial "footer.html" . -}}
</body>
</html>
