{{define "main"}}
{{ $date := .Date.Format "2006-01-02" }}
{{ $lastmod := .Lastmod.Format "2006-01-02" }}
<dl>
    <dt style="visibility:hidden">info:</dt>
    <dd>{{ $date }} {{ if ne $lastmod $date }}</dd>
    <dd> → last update {{ .Lastmod.Format "2006-01-02" }} {{ end }}</dd>
    <dd>{{ .Description }}</dd>
</dl>



<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

{{- $imageCdn := .Site.Params.imageCdn -}}

<div class="gallery">
    {{range $paginator.Pages}}
    <div class="item">
        <figure><a href="{{.RelPermalink}}">
            {{- $imageCdn := .Site.Params.imageCdn -}}
            {{- $src := printf "%s%s" (strings.TrimSuffix "/" $imageCdn) .Params.featuredImageExternal -}}
            <img src="{{ $src }}" {{ with try (resources.GetRemote $src) }}{{ with .Value }} width="{{ .Width }}" height="{{ .Height }}"{{ end }}{{ end }}></a><figcaption><a href="{{.RelPermalink}}">{{.Date.Format "2006-01-02" }}: {{.Title}} {{ .Params.tags }}</a></figcaption>
        </figure>
    </div>
    {{ end }}
</div>

{{template "_internal/pagination.html" .}}

{{end}}
